@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  padding: 50px;
  height: 100vh;
  background: url(../assets/images/home-bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-container {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 600px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #5297ff;
  color: white;
  /* cursor: pointer; */
  padding: 18px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  border-radius: 10px 10px 0px 0px;
  border: 5px solid white;
  border-bottom: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  font-size: 25px;
}

.chat-body {
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding: 10px;
  hyphens: auto;
  position: relative;
}

.chat-block {
  width: 100%;
  scroll-behavior: smooth;
  hyphens: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat-timestamp {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: center;
}

.user-message {
  color: white;
  margin-bottom: 10px;
  align-self: flex-end;
  border-radius: 8px;
  border-bottom-right-radius: 2px;
  padding: 10px;
  background: #5ca6fa;
  transform: translateX(50%);
  animation: fade-in-right 0.5s forwards;
  max-width: 80%;
}

.user-message span {
  display: block;
}

.user-message small {
  display: block;
  text-align: right;
  color: #eaeaea;
}

.bot-message {
  color: #000;
  margin-bottom: 10px;
  align-self: flex-start;
  background: #e0e0e0;
  padding: 10px;
  border-radius: 8px;
  border-bottom-left-radius: 2px;
  transform: translate(-50%);
  animation: fade-in-left 0.5s both;
  max-width: 80%;
}

.bot-message span {
  display: block;
}

.bot-message small {
  display: block;
  text-align: right;
  color: #383838;
}

.chat-footer {
  width: 100%;
  background-color: #ebebeb;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
}

.form {
  display: flex;
  align-items: center;
}

.form-group {
  width: 80%;
}

.form-input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
}

.form-input::placeholder {
  font-family: inherit;
  font-size: 16px;
}

.form-submit {
  width: 20%;
}

.submit-btn {
  width: 100%;
  height: 40px;
  display: block;
  background-color: #6e6e6e;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
}

/* loading meassage animation */
.loading {
  position: absolute;
  bottom: 0%;
  left: 0%;
  z-index: 999;
  display: flex;
}

.loading.hidden {
  display: none;
}

.loading > .circle {
  height: 20px;
  width: 20px;
  background-color: #0652c0;
  margin: 5px;
  border-radius: 50%;
}

.loading > .circle:nth-child(1) {
  animation: blink 1s 0s ease-in-out both infinite;
}

.loading > .circle:nth-child(2) {
  animation: blink 1s 0.2s ease-in-out both infinite;
}

.loading > .circle:nth-child(3) {
  animation: blink 1s 0.4s ease-in-out both infinite;
}

/* animations */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate(50%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate(-50%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 50px 20px;
  }
}
